﻿
@{
    ViewData["Title"] = "AddUserPage";
}

<h1>AddUserPage</h1>

<h1>User Profile Page</h1>
<form asp-controller="Home" asp-action="GetDetails" method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input name="txtName" type="text" /></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input name="txtEmail" type="text" /></td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>
                <label><input type='radio' value='M' name="Gender" />Male </label>
                <label><input type='radio' value='F' name="Gender" />Female </label>
            </td>
        </tr>
        <tr>
            <td>Date Register (dd/mm/yyyy) :</td>
            <td><input name="txtEmail" type="text" /></td>
        </tr>
        <tr>
            <td>Date Register (dd/mm/yyyy) :</td>
            <td><input name="txtEmail" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<br />
<br />


