﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script>
    $(document).ready(function () {
        //$("button").click(function () {
            $.get("/api/value", function (data, status) {
                //alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
                myObj = JSON.stringify(data);
                $("p").append(JSON.stringify(data));
                data.forEach(function (item) {
                    var stringArray = item["date"].split(/(\s+)/);
                    $("#myUL").append("<tr><td>" + item["name"] +"</td><td>"+ item["email"] + "</td><td>"+ item["gender"] + "</td><td>"+ stringArray[0] + "</td><td>"+ item["selectedDays"] +"</td><td>"+ item["addReq"] +"</td></tr>");
});
                //var str = JSON.stringify(data;

            });
        //});
       
    $('#buttonid').click(function () {
        document.location = '@Url.Action("Privacy","Home")';
    });
    });
</script>
<button id="buttonid"> + Add User</button>
<br />
<br>
@*<ul id="myUL">
</ul>*@
<table id="myUL">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Date Registered</th>
        <th>Selected Days</th>
        <th>Additional Request</th>
    </tr>
</table>

