﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Add User Page</h1>
<form asp-controller="Home" asp-action="GetDetails" method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input name="txtName" type="text" /></td>
            <h4 style="font-style:italic; color:deeppink">@ViewBag.ResultName</h4>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input name="txtEmail" type="text" /></td>
            <h4 style="font-style:italic; color:deeppink">@ViewBag.ResultEmail</h4>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>
                <label><input type='radio' value='M' name="Gender" />Male </label>
                <label><input type='radio' value='F' name="Gender" />Female </label>
                <h4 style="font-style:italic; color:deeppink">@ViewBag.ResultGender</h4>
            </td>
        </tr>
        <tr>
            <td>Date Register (mm/dd/yyyy) :</td>
            <td><input name="txtDate" type="text" /></td>
            <h4 style="font-style:italic; color:deeppink">@ViewBag.ResultDate</h4>
        </tr>
        <tr>
            <td>Selected Days :</td>
            <td>
                <label><input type='checkbox' value='Day1' name="SelectedDays" />Day1 </label>
                <label><input type='checkbox' value='Day2' name="SelectedDays2" />Day2 </label>
                <label><input type='checkbox' value='Day3' name="SelectedDays3" />Day3 </label>
                <h4 style="font-style:italic; color:deeppink">@ViewBag.ResultSelectedDays</h4>
                @*<label><input ID="CheckBox2" type='checkbox' value='Day2' name="SelectedDays" />Day2 </label>
        <label><input ID="CheckBox3" type='checkbox' value='Day3' name="SelectedDays" />Day3 </label>*@
            </td>
        </tr>
        <tr>
            <td>Additional Request :</td>
            <td><input name="txtAddReq" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<br />
<br />
<h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>